{% extends 'edc_base/layouts/base-fullscreen.html' %}
{% load i18n static %}

{% block topbar %}{% endblock topbar %}

{% block content %}
<section>
    <div class="page-header min-vh-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-8 d-flex flex-column mx-auto">
            <div class="card card-plain mt-0">
              <div class="card-header pb-0 text-left bg-transparent">
                <h3 class="font-weight-bolder text-info text-gradient">{% translate 'Reset Password' %}</h3>
                <p class="mb-0 text-secondary">{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
              </div>
              <div class="card-body">
                <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
                <p><a href="{{ login_url }}" class='btn bg-gradient-info w-100 mt-2 mb-0'>{% translate 'Log in' %}</a></p>
              </div>
            </div>
          </div>
          {% include 'edc_base/includes/cover_image.html' %}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}