{% block messages %}
    {% if messages %}
    <div class='container-fluid'>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% for message in messages %}
                <span class="alert-icon"><i class="fas fa-exclamation-triangle"></i></span>
                <span
                    {% if message.tags %} class="{{ message.tags }}"
                    {% else %} class="alert-text"
                    {% endif %} >
                <strong>Warning!</strong> {{ message|capfirst }}</span>
                </br>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endif %}
{% endblock messages %}