      <footer class="footer pt-3 fixed-bottom">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-left">
                <a href="#" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                  <span class="fa fa-copyright"></span> Copyright {{ copyright| default:'2022'  }} Soft by &nbsp;{{ institution| default:'Pixel 5 Softwares' }}
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="#" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                    <span class="fa fa-leaf"></span> Revision: {{ revision| default:1 }}
                  </a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/product/soft-ui-dashboard-django" target="_blank" 
                  class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
                    <span class="fa fa-exclamation"> </span> {{ disclaimer| default:'For commercial use only' }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>



     

