{% load i18n static %}

<link href="{% static 'edc_base/img/apple-icon.png' %}" rel="apple-touch-icon" sizes="76x76" >
<link href="{% static 'edc_base/img/favicon.png' %}" rel="icon" type="image/png">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
<link href="{% static 'edc_base/assets/css/nucleo-icons.css' %}" rel="stylesheet" />
<link href="{% static 'edc_base/assets/css/nucleo-svg.css' %}" rel="stylesheet" />
<link href="{% static 'edc_base/css/nucleo-svg.css' %}" rel="stylesheet" />
<link href="{% static 'edc_base/css/soft-ui-dashboard.css' %}" rel="stylesheet" id="pagestyle" />
