
  {% load i18n static %}
  <!--   Core JS Files   -->
  <script src="{% static 'edc_base/js/core/popper.min.js' %}"></script>
  <script src="{% static 'edc_base/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'edc_base/js/plugins/smooth-scrollbar.min.js' %}"></script>

  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'edc_base/js/soft-ui-dashboard.js' %}"></script>
  <script src="{% static 'edc_base/plugins/chartjs.min.js' %}"></script>
  <script src="{% static 'edc_base/plugins/perfect-scrollbar.min.js' %}"></script>


