{% extends 'edc_base/base.html' %}
{% load static %}
{% load edc_base_extras %}

{% block main %}
<section>
    <div class="page-header min-vh-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-8">
              <div class="card-header pb-0 text-left bg-transparent">
                <h3 class="font-weight-bolder text-info text-gradient">Welcome back</h3>
                <p class="mb-0">Enter your email and password to sign in</p>
              </div>
              <div class="card-body">
                {% if next %}
                    {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                    {% endif %}
                {% endif %}
                {% if form.errors %}
    		    {% for key, value in form.errors.items %}
    		      <p>
    		    	{{ key |striptags }}: {{ value |striptags }}
                  </p>
    		    {% endfor %}
    		{% endif %}
                <form method="post" action="{% url 'login' %}" role="form">
                    {% csrf_token %}
                  <label>{{ form.username.label_tag }}</label>
                  <div class="mb-3">
                    <input type="text" class="form-control {% if form.errors %} is-invalid {% else %}  '' {% endif %}" name="{{ form.username.html_name }}"  required id="{{ form.username.id_for_label }}" >
                  </div>
                  <label>Password</label>
                  <div class="mb-3">
                    <input type="password" class="form-control {% if form.errors %} is-invalid {% else %}  '' {% endif %}" name="{{ form.password.html_name }}" required id="{{ form.password.id_for_label }}">
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Sign in</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                  </div>
                </form>
              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                  Forgot your password?
                  <a href="{% url 'password_reset' %}" class="text-info text-gradient font-weight-bold">Reset password</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
              <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" 
              style="background-image:url('{% static 'edc_base/img/curved6.jpg' %}')"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock main %}