{% extends 'edc_base/base.html' %}
{% load i18n static %}
{% load edc_base_extras %}

{% block main %}
<section>
    <div class="page-header min-vh-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-8 d-flex flex-column mx-auto">
            <div class="card card-plain mt-6">
              <div class="card-header pb-0 text-left bg-transparent">
                <h3 class="font-weight-bolder text-info text-gradient">{% translate 'Welcome back' %}</h3>
                <p class="mb-0">{% translate 'Enter your username and password to sign in'%}</p>
              </div>
              {% if form.errors and not form.non_field_errors %}
                <p class="errornote">
                  {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
                </p>
              {% endif %}

              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  <p class="errornote text-danger mt-4">
                      {{ error }}
                  </p>
                {% endfor %}
              {% endif %}

              {% if next %}
                {% if user.is_authenticated %}
                    <p class="errornote">
                      {% blocktranslate trimmed %}
                          You are authenticated as {{ username }}, but are not authorized to
                          access this page. Would you like to login to a different account?
                      {% endblocktranslate %}
                    </p>
                {% endif %}
              {% endif %}

              <div class="card-body">
                {% url 'login' as login_url %}
                <form method="post" action="{{ login_url }}" role="form">
                    {% csrf_token %}
                  <label>{% translate 'Username' %}</label>
                  <div class="mb-3">
                    {{ form.username.errors }}
                    <input type="text" class="form-control {% if form.username.errors %} is-invalid {% else %}  '' {% endif %}" name="{{ form.username.html_name }}"  required id="{{ form.username.id_for_label }}" >
                  </div>
                  <label>{% translate 'Password' %}</label>
                  <div class="mb-3">
                    {{ form.password.errors }}
                    <input type="password" class="form-control {% if form.password.errors %} is-invalid {% else %}  '' {% endif %}" name="{{ form.password.html_name }}" required id="{{ form.password.id_for_label }}">
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">{% translate 'Sign in' %}</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                  </div>
                </form>
              </div>
              {% url 'password_reset' as password_reset_url %}
              
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                  {% translate 'Forgotten your password or username?' %}
                  <a href="{{ password_reset_url }}" class="text-info text-gradient font-weight-bold">{% translate 'Reset password' %}</a>
                </p>
              </div>
            </div>
          </div>
          {% include 'edc_base/auth/cover_image.html' %}
        </div>
      </div>
    </div>
  </section>
{% endblock main %}